<% provide(:title, "Update account")%>

<div class="items-start justify-center block h-full grid-cols-1 gap-4 lg:grid lg:items-center lg:grid-cols-2">
  <div class="relative flex items-center justify-center h-32 overflow-hidden lg:h-full bg-gradient-to-tr from-black to-gray-800">
    <div class="inset-auto z-30 flex items-center justify-center flex-1 w-full h-auto font-sans text-center text-white shadow lg:flex lg:absolute xl:text-5xl">
      <h1 class="font-semibold text-4xl text-green-300">CampaignX</h1>
    </div>
  </div>
  <div>
    <div class="relative z-20 px-6 mx-auto lg:px-12 max-w-lg">
      <div class="mb-4 xl:mt-8">
        <div class="mt-6 mb-4 lg:mt-0">
          <%= link_to root_path, class: "text-gray-600 underline flex items-center hover:text-gray-700 hover:no-underline no-underline" do %>
            <i class="fa-solid fa-circle-arrow-left mr-2 text-gray-500"></i> Back
          <% end %>
        </div>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>

        <div class="text-red-400 mb-2">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>

        <div class="mb-2">
          <%= f.label :name, class: label_class %>
          <%= f.text_field :name, class: input_class %>
        </div>

        <div class="mb-2">
          <%= f.label :brand, class: label_class %>
          <%= f.text_field :brand, class: input_class %>
        </div>

        <div class="mb-2">
          <%= f.label :address, class: label_class %>
          <%= f.text_field :address, class: input_class %>
        </div>

        <div class="mb-2">
          <label for="contact_number" class="<%= label_class %>">Contact Number</label>
          <%= f.text_field :contact_number, class: input_class %>
        </div>

        <div class="mb-2">
          <%= f.label :password, class: label_class %>
          <%= f.password_field :password, autocomplete: "new-password", class: input_class %>
          <p class="pt-1 text-xs text-gray-400"> <% if @minimum_password_length %>
              <%= @minimum_password_length %> characters minimum <% end %> (leave blank if you don't want to change it)</p>
        </div>

        <div class="mb-2">
          <label for="contact_number" class="<%= label_class %>">Confirm Password</label>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: input_class %>
        </div>

        <div class="mb-2">
          <label for="contact_number" class="<%= label_class %>">Current Password</label>
          <%= f.password_field :current_password, autocomplete: "current-password", class: input_class %>
          <p class="pt-1 text-xs text-gray-400">We need your current password to confirm your changes</p>
        </div>

        <div class="mb-2">
          <%= f.submit "Update Account", class: "p-3 w-full block bg-green-400 text-black shadow-sm hover:bg-green-500 font-semibold shadow-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
