<% provide(:title, "All Campaigns")%>

<div class="flex container mx-auto px-4 mt-3">
  <div class="w-full">
    <div class="w-full mx-auto my-4">
      <div class="flex justify-between my-3 items-center">
        <div>
          <%= link_to new_campaign_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" do %>
            <i class="fa-solid fa-plus"></i> Create Campaign
          <% end %>
        </div>
        <div class="text-xs text-gray-600">
          <i class="fa-solid fa-database"></i> Total <%= @all_campaigns.count %> Campaigns Found
        </div>
      </div>
      <div class="p-0">
        <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                              Full Message
                            </th>
                            <th scope="col" class="px-6 py-3">
                              Clicks
                            </th>
                            <th scope="col" class="px-6 py-3">
                              Created At
                            </th>
                            <th scope="col" class="px-6 py-3">
                              Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @campaigns.each do |campaign| %>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                          <td class="px-6 py-4">
                            <%= campaign.title %> <%= campaign.message %> <%= campaign.short_url %>
                          </td>
                          <td class="px-6 py-4">
                            <% if campaign.clicks.present? && campaign.clicks.to_i > 0 %>
                              <div class="text-green-400"><%= campaign.clicks %></div>
                            <% else %>
                              <div class="text-yellow-400">0</div>
                            <% end %>
                          </td>
                          <td class="px-6 py-4">
                            <%= campaign.created_at.strftime("%B, %d, %Y") %>
                          </td>
                          <td class="px-6 py-4">
                            <%= link_to campaign do %>
                              <i class="fa-regular fa-circle-right text-lg"></i>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
            </div>
        <%= paginate @campaigns, :class=>"bg-gray-700"%>
      </div>
    </div>
  </div>
</div>